<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/moodle_original_logo_icon_146420"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/moodle_ic"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moodle"
        tools:targetApi="31">
        <activity
            android:name=".Sidebar.NavHeader"
            android:exported="true" />
        <activity
            android:name=".Courses.MobileApp.MobileCourseNo2"
            android:exported="false" />
        <activity
            android:name=".teacher_info.DetailTeacher1.BadgesTeacher1"
            android:exported="false" />
        <activity
            android:name=".teacher_info.DetailTeacher1.BlogTeacher1"
            android:exported="false" />
        <activity
            android:name=".teacher_info.DetailTeacher1.DetailTeacher1"
            android:exported="false" />
        <activity
            android:name=".teacher_info.Teacher2"
            android:exported="false" />
        <activity
            android:name=".teacher_info.DetailTeacher1.Teacher1"
            android:exported="false" />
        <activity
            android:name=".Courses.ComputerGraphic"
            android:exported="false" />
        <activity
            android:name=".courseCategories.ThirdYear.CustomListView"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".courseCategories.ThirdYear.ThirdYear"
            android:exported="false" />
        <activity
            android:name=".Courses.MobileApp.MobileCourseIntroduction"
            android:exported="false" />
        <activity
            android:name=".Sidebar.NavGrade.NavGradesFragment"
            android:exported="false" />
        <activity
            android:name=".courseCategories.ICT"
            android:exported="false" />
        <activity
            android:name=".courseCategories.Bachelor"
            android:exported="false"
            android:label="@string/title_activity_bachelor"
            android:theme="@style/Theme.Moodle" />
        <activity
            android:name=".courseCategories.CourseCategories"
            android:exported="false" />
        <activity
            android:name=".SignInUp.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInUp.SignupActivity"
            android:exported="true" />
        <activity
            android:name=".mainHome.FragmentHomeActivity"
            android:exported="true" />
        <activity
            android:name=".mainHome.FragmentSiteHome"
            android:exported="false" />
        <activity
            android:name=".mainHome.FragmentDashboard"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Courses.dashboardDatabases"
            android:exported="false" />
        <activity
            android:name=".Courses.dashboardMachineLearning"
            android:exported="false" />
        <activity
            android:name=".Courses.dashboardWebApp"
            android:exported="false" />
        <activity
            android:name=".Courses.MobileApp.dashboardMobileApp"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>